/* CSS Custom Properties */
:root {
  --white: #FFFFFF;
  --tan-1: #FBF9F6;
  --tan-2: #E7E2DD;
  --tan-3: #E2D9D1;
  --tan-4: #D3C1AE;
  --orange: #F67F00;
  --text-light: #968c84;
  --text-dark: #615954;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--tan-4);
  padding: 2vmin;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

.align-ctr {
  text-align: center;
}

.align-rt {
  text-align: right;
}

.smaller {
  font-size: smaller;
}

.flex-ctr-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-j-end {
  justify-content: flex-end;
}

.scroll-y {
  overflow-y: scroll;
}

.section-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--tan-1);
  color: var(--text-dark);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
  padding: .6vmin;
  text-align: center;
  font-size: 2vmin;
}

.form-container {
  padding: 3vmin;
  background-color: var(--tan-1);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
}

p.error-message {
  color: var(--orange);
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.25vmin;
  color: var(--text-light);
}

label {
  font-size: 2vmin;
  display: flex;
  align-items: center;
}

input {
  padding: 1vmin;
  font-size: 2vmin;
  border: .1vmin solid var(--tan-3);
  border-radius: .5vmin;
  color: var(--text-dark);
  background-image: none !important; /* prevent lastpass */
  outline: none;
}

input:focus {
  border-color: var(--orange);
}

button, a.button {
  margin: 1vmin;
  padding: 1vmin;
  color: var(--white);
  background-color: var(--orange);
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: .1vmin solid var(--tan-2);
  border-radius: .5vmin;
  outline: none;
  cursor: pointer;
}

button.btn-sm {
  font-size: 1.5vmin;
  padding: .6vmin .8vmin;
}

button.btn-xs {
  font-size: 1vmin;
  padding: .4vmin .5vmin;
}

button:disabled, form:invalid button[type="submit"] {
  cursor: not-allowed;
  background-color: var(--tan-4);
}

button[type="submit"] {
  grid-column: span 2;
  margin: 1vmin 0 0;
}

/* lakjin css */

.accountpagemaincontainer {
  display: grid;
  grid-template-columns: 1fr 7fr;
  border: 1px solid red;
}

.accountsidebarcontainer {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  font-size: 1.5rem;
  padding: 20px;
  margin: 10px;
}

.profilecontainer {
 margin: 10px;
 border: 1px solid green;
 padding: 20px;
}

.profile {
  border: 1px solid teal;
}

.profile > h1 {
  text-align: left;
  margin-left: 10px;
}


.profiledetails {
  display: flex;
  border: 1px solid orange;
}

.profiledetails > img {
  width:100px;
  height: 100px;
  border-radius: 50%;
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.profiledetailsinner {
  text-align: left;
  margin-left: 30px
}

.viewhistory {
  border: 1px solid blue;
  padding: 10px;
}

.viewhistory > h1 {
  text-align: left;
}

.viewhistorymovies {
  display:flex;
  overflow-x: auto;
  justify-content: center;
  align-items: center;
}

.followingmaincontainer {
  border: 1px solid red;
}

.followingmaincontainer > h1 {
  text-align: left;
  padding: 10px 50px;
  margin-left:10px;
}

.followingmaininnercontainer {
  border: 1px solid orange;
  display: grid;
  /* display:flex; */
  grid-template-columns: 9fr 1fr;
}

.followingcontainer {
  display:flex;
  display:grid;
  grid-template-columns: 9fr 1fr;
  align-items: center;
}

.followingdetails {
  border: 1px solid green;
  display: flex;
  padding: 10px 50px;
  margin-left:10px;
  overflow-x: auto;
}

.followingitem {
  border: 1px solid yellow;
  margin: 0 10px;
  padding: 5px;
}

.followingitem:hover {
  cursor: pointer;
}

.searchmaincontainer {
  border: 1px solid blue;
  position: relative;
  display:grid;
  grid-template-columns: auto auto;
  align-items: center;
}

.searchcontainer {
  border: 1px solid salmon; 
  position: absolute;
  top: 50%;
  right: 25px;
  width: 250px; 
  transform: translateY(-50%);
}

.input {
  height:41px;
  width:240px;
}

.closebutton {
  position: absolute;
  top: 50%;
  right: 7%;
  transform: translateY(-50%);
}

.searchbuttoncontainer {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgb(110, 110, 110);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(110, 110, 110);
}

::-webkit-scrollbar-track-piece {
  /* background: #304158; */
  /* background: #27374D; */
}

/* lakjin css */
